@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* all time use */
.btn {
    background-color: rgb(45, 131, 244);
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;

}

.btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn:hover {
    transform: scale(0.98);
}

.container {
    max-width: 1098px;
    margin: 0 auto;
    padding: 0 50px;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;

}

.card img {
    max-width: 100%;
}

/* navbar */
.navbar{
    background-color: rgb(45, 131, 244);
    height: 80px;
    color: #fff;
   
}

.navbar .flex{
    justify-content: space-between;
    overflow: visible;
}

.navbar .logo{
    font-weight: 600;
}


.navbar ul{
    display: flex;
    list-style-type: none;
    
}

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: 500;
    text-decoration: none;
}

.navbar a:hover{
    border: 2px solid #fff;
}


/* banner */
.banner{
    height: 400px;
    background-color: rgb(45, 131, 244);
    color: #fff;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.banner h1{
    font-size: 3rem;
    font-family: 'lato', sans-serif;
    margin-bottom: 15px;
}

.banner p{
    font-size: 1rem;
    line-height: 1.6;
}

.banner .btn{
    margin-top: 20px;
    margin-right: 20px;
    background-color: #fff;
    color: #333;
}

.banner .btn-outline {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


/* service */
.service{
    margin: 100px 0;
}

.service h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
    font-family: 'lato', sans-serif;
}

.service h1, h2{
    font-family: 'lato', sans-serif;
}
.service h2{
    margin-top: 18px;
}



@media only screen and (max-width: 700px) {
    .banner{
        height: 500px;

    }
    
    .banner h1{
        font-size: 2rem;

    }
    
    .banner p{
        font-size: 14px;
    } 
}







